
  .sub{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
  }
  .sub:hover{
    opacity: 0.8;
  }
  .sub:active{
    opacity: 0.5  ;
  }
  .join{
    background-color:white;
    color: skyblue;
    border-color: skyblue;
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 10px;
    border: 1px solid; 
    width: 75px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s, color 1s;
  }
  .join:hover{
    background-color: skyblue;
    color: white;
  }
  .join:active{
     opacity: 0.7;
  }
  .tweet{
    background-color:rgb(27, 171, 228); 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
  }
  .tweet:hover{
    box-shadow:5px 5px 10px  rgba(0,0,0,0.15) ;
  }