
  .ceo{
    font-family:Roboto ;
    font-size: 18px;
    font-weight: bold;
    width :300px;
    line-height: 24px;
    margin-bottom:5px;
  }
  .vedios-stats{
    font-family:R ;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px; 

    
  }
  .author{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px;
  }
  .description{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .apple-text{
    font-family: Arial;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color:white ;
    text-align: center;
    padding: 20px;

  }
  .shop-now{
    cursor: pointer;
  }
  .shop-now:hover{
    
    text-decoration: underline;
  }




