

    .thumbnail {
      width: 100%;
      
    }


    .title {
      width: 250px;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 12px;

    }

    

  

    .vedio-info-grid {
      display: grid;
      grid-template-columns: 50px 1fr;

    }



    .profile-picture {
      width: 36px;
      border-radius: 50px;

    }

    .thumbnail-row {
      margin-bottom: 8px;
      position : relative;

    }

    .author,
    .stats {
      font-size: 12px;
      color: rgb(96, 96, 96);
    }

    .author {
      margin-bottom: 6px;
    }
    .vedio-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
      
    }
    @media(max-width: 750px) {
      .vedio-grid {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media(min-width: 751px) and (max-width: 999px) {
      .vedio-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
      }
    }
    @media(min-width: 1000px) {
      .vedio-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
    
    .vedio-time{
      background-color: black;
      color: white;
      position: absolute;
      bottom: 8px;
      right: 5px;
      font-family: Roboto,Arial;
      font-size: 12px;
      font-weight: 500;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 2px;

    }